@media(min-width: 0px) and (max-width: 425px) {
  /* grid templates */

  body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 20% 10% 1fr 20%;

    & header{
      grid-column: 2/12;
      grid-row: 1;
    }

    & form{
      grid-column: 2/12;
      grid-row: 2;
    }

    & main{
      grid-column: 2/12;
      grid-row: 3;
    }

    & footer{
      grid-column: 2/12;
      grid-row: 4;
    }
  }
  /* header grid settings */

  header{
    display: grid;
    grid-template-columns: 1fr 15%;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    & h1{
      grid-column: 1;
      grid-row: 2;
    }

    & .menuToggler{
      grid-column: 2;
      grid-row: 2;
    }
  }

  /* main grid template */

  main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1rem;

    & .eventList{
      min-height: 20vh;
      border: 2px solid rgb(150, 142, 142);
      }
  }

  .newEvent{
    display: grid;
    grid-template-columns: 1fr 15%;
    grid-template-rows: 1fr 1fr;

    & .inputTitle{
      grid-column: 1/2;
      grid-row: 1;
    }

    & .inputTime{
      grid-column: 1/2;
      grid-row: 2;
    }

    & .addButton{
      grid-column: 2;
      grid-row: 2;
    }
  }

  /* main item settings */

  .eventList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    background-color: black;
    opacity: 0.8;

    & .eventTitle{
      grid-column: 1/4;
      grid-row: 1;
      font-size: 2rem;
      color: rgb(150, 142, 142);
      max-width: 80%;
      overflow: hidden;
    }

    & .eventDate{
      grid-column: 1;
      grid-row: 2;

      background: none;
      border: none;
      color: var(--main-color);
    }

    & .eventTime{
      grid-column: 2;
      grid-row: 2;

      background: none;
      border: none;
      color: var(--main-color);
    }

    & .deleteButton{
      grid-column: 3;
      grid-row: 2;

      width: 100%;
      height: 100%;
      background: none;
      border: none;
      color: var(--main-color);
    }
  }

  /* footer grid settings */

  footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    & .navBtn{
      grid-column: 1fr;
      grid-row: 1fr;
      border: 2px solid black;

      background-color: rgb(150, 142, 142);
      color: black;
      height: 100%;
    }
  }

  /* general css settings */

  form{
    height: 100%;

    & .newEvent{
      height: 100%;
      border: 2px solid rgb(150, 142, 142);
    }

    & .inputTitle{
      height: 100%;
      width: 100%;
      resize: none;
    }

    & .inputTime{
      height: 100%;
      width: 100%;
      resize: none;
    }

    & .addButton{
      width: 100%;
      background-color: rgb(150, 142, 142);
      color: black;
    }
  }

  header h1{
    color: var(--main-color);
    font-size: 3rem;
  }
}

@media(min-width: 425px){
  /* grid templates */

  body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 20% 10% 1fr 20%;

    & header{
      grid-column: 3/11;
      grid-row: 1;
    }

    & form{
      grid-column: 3/11;
      grid-row: 2;
    }

    & main{
      grid-column: 3/11;
      grid-row: 3;
    }

    & footer{
      grid-column: 3/11;
      grid-row: 4;
    }
  }
  /* header grid settings */

  header{
    display: grid;
    grid-template-columns: 1fr 15%;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    & h1{
      grid-column: 1;
      grid-row: 2;
    }

    & .menuToggler{
      grid-column: 2;
      grid-row: 2;
    }
  }

  /* main grid template */

  main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1rem;

    & .eventList{
      min-height: 20vh;
      border: 2px solid rgb(150, 142, 142);;
      }
  }

  .newEvent{
    display: grid;
    grid-template-columns: 1fr 15%;
    grid-template-rows: 1fr 1fr;

    & .inputTitle{
      grid-column: 1/2;
      grid-row: 1;
    }

    & .inputTime{
      grid-column: 1/2;
      grid-row: 2;
    }

    & .addButton{
      grid-column: 2;
      grid-row: 2;
    }
  }

  /* main item settings */

  .eventList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    background-color: black;
    opacity: 0.8;

    & .eventTitle{
      grid-column: 1/4;
      grid-row: 1;
      font-size: 2rem;
      color: rgb(150, 142, 142);
      max-width: 80%;
      overflow: hidden;
    }

    & .eventDate{
      grid-column: 1;
      grid-row: 2;

      background: none;
      border: none;
      color: var(--main-color);
    }

    & .eventTime{
      grid-column: 2;
      grid-row: 2;

      background: none;
      border: none;
      color: var(--main-color);
    }

    & .deleteButton{
      grid-column: 3;
      grid-row: 2;

      width: 100%;
      height: 100%;
      background: none;
      border: none;
      color: var(--main-color);
    }
  }

  /* footer grid settings */

  footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    & .navBtn{
      grid-column: 1fr;
      grid-row: 1fr;
      border: 2px solid black;

      background-color: rgb(150, 142, 142);
      color: black;
      height: 100%;
    }
  }

  /* general css settings */

  form{
    height: 100%;

    & .newEvent{
      height: 100%;
      border: 2px solid rgb(150, 142, 142);
    }

    & .inputTitle{
      height: 100%;
      width: 100%;
      resize: none;
    }

    & .inputTime{
      height: 100%;
      width: 100%;
      resize: none;
    }

    & .addButton{
      width: 100%;
      background-color: rgb(150, 142, 142);
      color: black;
    }
  }

  header h1{
    color: var(--main-color);
    font-size: 3rem;
  }
}

@media(min-width: 768px){
  /* grid templates */

  body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 20% 10% 1fr 20%;

    & header{
      grid-column: 4/10;
      grid-row: 1;
    }

    & form{
      grid-column: 4/10;
      grid-row: 2;
    }

    & main{
      grid-column: 4/10;
      grid-row: 3;
    }

    & footer{
      grid-column: 4/10;
      grid-row: 4;
    }
  }

  /* back to previous page arrow style settings */

  .arrow::before{
    content: "\2190";
    font-size: 8rem;
    color: red;
    margin-left: 300%;
    z-index: 1;
  }

  .arrow:hover{
    cursor: pointer;
  }

  /* header grid settings */

  header{
    display: grid;
    grid-template-columns: 1fr 15%;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    & h1{
      grid-column: 1/3;
      grid-row: 2;
    }

    & .menuToggler{
      grid-column: 2;
      grid-row: 2;
      display: none;
    }
  }

  /* main grid template */

  main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1rem;

    & .eventList{
      min-height: 20vh;
      border: 1px solid rgb(150, 142, 142);
      }
  }

  .newEvent{
    display: grid;
    grid-template-columns: 1fr 15%;
    grid-template-rows: 1fr 1fr;

    & .inputTitle{
      grid-column: 1/2;
      grid-row: 1;
    }

    & .inputTime{
      grid-column: 1/2;
      grid-row: 2;
    }

    & .addButton{
      grid-column: 2;
      grid-row: 2;
    }
  }

  /* main item settings */

  .eventList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;

    & .eventTitle{
      grid-column: 1/4;
      grid-row: 1;
      font-size: 2rem;
      color: rgb(150, 142, 142);
    }

    & .eventDate{
      grid-column: 1;
      grid-row: 2;

      background: none;
      border: none;
      color: var(--main-color);
    }

    & .eventTime{
      grid-column: 2;
      grid-row: 2;

      background: none;
      border: none;
      color: var(--main-color);
    }

    & .deleteButton{
      grid-column: 3;
      grid-row: 2;

      width: 100%;
      height: 100%;
      background: none;
      border: none;
      color: var(--main-color);
    }
  }

  /* footer grid settings */

  footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  /* general css settings */

  form{
    height: 100%;

    & .newEvent{
      height: 100%;
      border: 2px solid rgb(150, 142, 142);
    }

    & .inputTitle{
      height: 100%;
      width: 100%;
      resize: none;
    }

    & .inputTime{
      height: 100%;
      width: 100%;
      resize: none;
    }

    & .addButton{
      width: 100%;
      background-color: rgb(150, 142, 142);
      color: black;
    }
  }

  header h1{
    color: var(--main-color);
    font-size: 3rem;
  }
}
