@media (min-width: 0px) and (max-width: 425px) {
  /*grid templates */

  body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 20% 1fr 15%;

    height: 100%;
    width: 100%;

    & header{
      grid-column: 2/12;
      grid-row: 1;
    }

    & main{
      grid-column: 2/12;
      grid-row: 2;
    }

    & footer{
      grid-column: 2/12;
      grid-row: 3;
    }
  }

  /* header grid settings */

  header{
    display: grid;
    grid-template-columns: 1fr 15%;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    & h1{
      grid-column: 1;
      grid-row: 2;
    }

    & .menuToggler{
      grid-column: 2;
      grid-row: 2;
    }
  }

  /* main grid settings */

  main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    justify-items: center;

    background-color: black;
  }

  /* mobile footer */

  footer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  /* css style settings */

  header {
    & h1{
      color: rgb(160, 0, 0);
      font-size: 3rem;
      height: 100%;
      font-weight: bold;
    }
  }

  a{
    text-decoration: none;
    color: white;
    width: 100%;
    font-size: 2rem;
  }

  #link{
    color: white;
  }

  p{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }

  h2{
    color: rgb(160, 0, 0);
    font-size: 2.5rem;
  }
}

@media (min-width: 425px) {
  /*grid templates */

  body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 20% 1fr 15%;

    height: 100%;
    width: 100%;

    & header{
      grid-column: 3/11;
      grid-row: 1;
    }

    & main{
      grid-column: 2/11;
      grid-row: 2;
    }

    & footer{
      grid-column: 3/11;
      grid-row: 3;
    }
  }

  /* header grid settings */

  header{
    display: grid;
    grid-template-columns: 1fr 15%;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    & h1{
      grid-column: 1;
      grid-row: 2;
    }

    & .menuToggler{
      grid-column: 2;
      grid-row: 2;
    }
  }

  /* main grid settings */

  main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    justify-items: center;

    background-color: black;
  }

  /* mobile footer */

  footer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  /* css style settings */

  header {
    & h1{
      color: rgb(160, 0, 0);
      font-size: 4rem;
      height: 100%;
      font-weight: bold;
    }
  }

  a{
    text-decoration: none;
    color: white;
    width: 100%;
    font-size: 2rem;
  }

  #link{
    color: white;
  }

  p{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }

  h2{
    color: rgb(160, 0, 0);
    font-size: 2.5rem;
  }
}

@media (min-width: 800px) {
  /*grid templates */

  body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 20% 1fr 15%;

    height: 100%;
    width: 100%;

    & header{
      grid-column: 5/10;
      grid-row: 1;
    }

    & main{
      grid-column: 4/10;
      grid-row: 2;
    }

    & footer{
      grid-column: 4/10;
      grid-row: 3;
    }
  }


  /* back to previous page arrow style settings */

  .arrow::before{
    content: "\2190";
    font-size: 8rem;
    color: red;
    margin-left: 300%;
    z-index: 1;
  }

  .arrow:hover{
    cursor: pointer;
  }

  /* header grid settings */

  header{
    display: grid;
    grid-template-columns: 1fr 15%;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    & h1{
      grid-column: 1;
      grid-row: 2;
    }

    & .menuToggler{
      grid-column: 2;
      grid-row: 2;
      display: none;
    }
  }

  /* main grid settings */

  main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    justify-items: center;

    background-color: black;
  }

  /* mobile footer */

  footer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  /* css style settings */

  header {
    & h1{
      color: rgb(160, 0, 0);
      font-size: 4.5rem;
      height: 100%;
      font-weight: bold;
    }
  }

  a{
    text-decoration: none;
    color: white;
    width: 100%;
    font-size: 2rem;
  }

  #link{
    color: white;
  }

  p{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }

  h2{
    color: rgb(160, 0, 0);
    font-size: 2.5rem;
  }
}
