@media(min-width: 0px) and (max-width: 425px){
  /* grid templates */

  body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 20% 10% 1fr 20%;

    & header{
      grid-column: 2/12;
      grid-row: 1;
    }

    & form{
      grid-column: 2/12;
      grid-row: 2;
    }

    & main{
      grid-column: 2/12;
      grid-row: 3;
    }

    & footer{
      grid-column: 2/12;
      grid-row: 4;
    }
  }
  /* header grid settings */

  header{
    display: grid;
    grid-template-columns: 1fr 15%;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    & h1{
      grid-column: 1;
      grid-row: 2;
    }

    & .menuToggler{
      grid-column: 2;
      grid-row: 2;
    }
  }

  /* main area grid */

  form{
    height: 100%;

    & .newList{
      border: 2px solid var(--main-color);
      height: 80%;
    }
  }

  main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12% 1fr;

    & ul{
      grid-column: 1;
    }

  }

  .newList{
    display: grid;
    grid-template-columns: 1fr 15%;
    grid-template-rows: 1fr;
    max-height: 50vh;

    & .entryValue{
      grid-column: 1/2;
      grid-row: 1;
    }

    & .addButton{
      grid-column: 2;
      grid-row: 1;
    }
  }

  .listItem{
    display: grid;
    grid-template-columns: 1fr 15%;
    grid-template-rows: 1fr;
    row-gap: 20%;

    & .itemValue{
      grid-column: 1/2;
      grid-row: 1;
    }

    & .deleteButton{
      grid-column: 2;
      grid-row: 1;
    }
  }

  /* footer grid settings */

  footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  /* general css settings */

  header h1{
    color: var(--main-color);
    font-size: 3rem;
  }

  /* mobile css main */

  main{
    height: 100%;

    & li{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      opacity: 0.8;
      padding: 3%;
      border-bottom: 1px solid  rgb(150, 142, 142);
    }

    & .itemValue{
      width: 100%;
      color: white;
    }

    & .deleteButton{
      width: 100%;
      background-color: rgb(150, 142, 142);
      color: black;
      font-size: 2rem;
    }
  }

  form{
    & .newList{
      border: 2px solid rgb(150, 142, 142);
    }

    & .entryValue{
      width: 100%;
      resize: none;
    }

    & .addButton{
      width: 100%;
      background-color: rgb(150, 142, 142);
      color: black;
    }
  }

  footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    & .navBtn{
      display: none;
      grid-column: 1fr;
      grid-row: 1fr;

      background-color: rgb(150, 142, 142);
      color: black;
    }
  }
}

@media(min-width: 425px) {
  /* grid templates */

  body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 20% 10% 1fr 20%;

    & header{
      grid-column: 3/11;
      grid-row: 1;
    }

    & form{
      grid-column: 3/11;
      grid-row: 2;
    }

    & main{
      grid-column: 3/11;
      grid-row: 3;
    }

    & footer{
      grid-column: 3/11;
      grid-row: 4;
    }
  }
  /* header grid settings */

  header{
    display: grid;
    grid-template-columns: 1fr 15%;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    & h1{
      grid-column: 1;
      grid-row: 2;
    }

    & .menuToggler{
      grid-column: 2;
      grid-row: 2;
    }
  }

  /* main area grid */

  form{
    height: 100%;

    & .newList{
      border: 2px solid var(--main-color);
      height: 80%;
    }
  }

  main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12% 1fr;

    & ul{
      grid-column: 1;
    }

  }

  .newList{
    display: grid;
    grid-template-columns: 1fr 15%;
    grid-template-rows: 1fr;
    max-height: 50vh;

    & .entryValue{
      grid-column: 1/2;
      grid-row: 1;
    }

    & .addButton{
      grid-column: 2;
      grid-row: 1;
    }
  }

  .listItem{
    display: grid;
    grid-template-columns: 1fr 15%;
    grid-template-rows: 1fr;
    row-gap: 20%;

    & .itemValue{
      grid-column: 1/2;
      grid-row: 1;
    }

    & .deleteButton{
      grid-column: 2;
      grid-row: 1;
    }
  }

  /* footer grid settings */

  footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  /* general css settings */

  header h1{
    color: var(--main-color);
    font-size: 3rem;
  }

  /* mobile css main */

  main{
    height: 100%;

    & li{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      opacity: 0.8;
      padding: 3%;
      border-bottom: 1px solid  rgb(150, 142, 142);
    }

    & .itemValue{
      width: 100%;
      color: white;
    }

    & .deleteButton{
      width: 100%;
      background-color: rgb(150, 142, 142);
      color: black;
      font-size: 2rem;
    }
  }

  form{
    & .newList{
      border: 2px solid rgb(150, 142, 142);
    }

    & .entryValue{
      width: 100%;
      resize: none;
    }

    & .addButton{
      width: 100%;
      background-color: rgb(150, 142, 142);
      color: black;
    }
  }

  footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    & .navBtn{
      display: none;
      grid-column: 1fr;
      grid-row: 1fr;

      background-color: rgb(150, 142, 142);
      color: black;
    }
  }
}

@media(min-width: 768px) {
  /* grid templates */

  body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 20% 10% 1fr 20%;

    & header{
      grid-column: 4/10;
      grid-row: 1;
    }

    & form{
      grid-column: 4/10;
      grid-row: 2;
    }

    & main{
      grid-column: 4/10;
      grid-row: 3;
    }

    & footer{
      grid-column: 4/10;
      grid-row: 4;
    }
  }

  /* back to previous page arrow style settings */

  .arrow::before{
    content: "\2190";
    font-size: 8rem;
    color: red;
    margin-left: 300%;
    z-index: 1;
  }

  .arrow:hover{
    cursor: pointer;
  }

  /* header grid settings */

  header{
    display: grid;
    grid-template-columns: 1fr 15%;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    & h1{
      grid-column: 1/3;
      grid-row: 2;
    }

    & .menuToggler{
      grid-column: 2;
      grid-row: 2;
      display: none;
    }
  }

  /* main area grid */

  form{
    height: 100%;

    & .newList{
      border: 2px solid var(--main-color);
      height: 80%;
    }
  }

  main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12% 1fr;

    & ul{
      grid-column: 1;
    }

  }

  .newList{
    display: grid;
    grid-template-columns: 1fr 15%;
    grid-template-rows: 1fr;
    max-height: 50vh;

    & .entryValue{
      grid-column: 1/2;
      grid-row: 1;
    }

    & .addButton{
      grid-column: 2;
      grid-row: 1;
    }
  }

  .listItem{
    display: grid;
    grid-template-columns: 1fr 15%;
    grid-template-rows: 1fr;
    row-gap: 20%;

    & .itemValue{
      grid-column: 1/2;
      grid-row: 1;
    }

    & .deleteButton{
      grid-column: 2;
      grid-row: 1;
    }
  }

  /* footer grid settings */

  footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

  }

  /* general css settings */

  header h1{
    color: var(--main-color);
    font-size: 3rem;
  }

  /* mobile css main */

  main{
    height: 100%;

    & li{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      opacity: 0.8;
      padding: 3%;
      border-bottom: 1px solid  rgb(150, 142, 142);
    }

    & .itemValue{
      width: 100%;
      color: white;
    }

    & .deleteButton{
      width: 100%;
      background-color: rgb(150, 142, 142);
      color: black;
      font-size: 2rem;
    }
  }

  form{
    & .newList{
      border: 2px solid rgb(150, 142, 142);
    }

    & .entryValue{
      width: 100%;
      resize: none;
    }

    & .addButton{
      width: 100%;
      background-color: rgb(150, 142, 142);
      color: black;
    }
  }

  footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
