@media(min-width: 0px) and (max-width: 425px){
  /* grid mobile template */

  body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 20% 10% 1fr 20%;

    & header{
      grid-column: 2/12;
      grid-row: 1;
    }

    & section{
      grid-column: 2/12;
      grid-row: 2;
    }

    & main{
      grid-column: 2/12;
      grid-row: 3;
    }

    & footer{
      grid-column: 2/12;
      grid-row: 4;
    }
  }

  /* header grid template */

  header{
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    & h1{
      grid-column: 2;
      grid-row: 2;
    }

    & .menuToggler{
      grid-column: 3;
      grid-row: 2;
    }

    & .addButton{
      grid-column: 1;
      grid-row: 2;
    }
  }

  /* main grid template */

  main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1rem;
  }

  main .shoppingList{
    min-height: 20vh;
    border: 1px solid var(--main-color);
    background-color: black;
    opacity: 0.8;
  }

  .newList{
    display: grid;
    grid-template-columns: 1fr 15%;
    grid-template-rows: 1fr;

    & .entryValue{
      grid-column: 1/2;
      grid-row: 1;
    }

    & .addButton{
      grid-column: 2;
      grid-row: 1;
    }
  }

  /* section settings */

  section{
    height: 100%;

    & .newList{
      border: 2px solid rgb(150, 142, 142);
      height: 80%;
    }

    & .listname{
      width: 100%;
    }

    & .addButton{
      width: 100%;
      height: 100%;
      background-color: rgb(150, 142, 142);
      color: black;
    }
  }

  /* main item settings */

  .shoppingList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;

    & .listTitle{
      grid-column: 1/4;
      grid-row: 1;
      font-size: 2rem;
      color: white;
    }

    & .openListButton{
      grid-column: 1;
      grid-row: 2;

      width: 100%;
      height: 100%;
      background: none;
      border: none;
      color: var(--main-color);
    }

    /* & .entryValue {
      grid-column: 1/3;
      grid-row: 3;

      width: 100%;
      height: 100%;
      border: none;
      background-color: whitesmoke;
    }*/

    & .deleteButton{
      grid-column: 3;
      grid-row: 2;

      width: 100%;
      height: 100%;
      background: none;
      border: none;
      color: var(--main-color);
    }
  }

  /* footer grid template */

  footer{
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;

  }

  /* general css settings */

  header{
    height: 100%;
    width: 100%;
    justify-content: center;
  }

  header h1{
    color: var(--main-color);
    font-size: 3rem;
  }

  footer{
    display: none;
  }
}

@media(min-width: 425px){
  /* grid mobile template */

  body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 20% 10% 1fr 20%;

    & header{
      grid-column: 3/11;
      grid-row: 1;
    }

    & section{
      grid-column: 3/11;
      grid-row: 2;
    }

    & main{
      grid-column: 3/11;
      grid-row: 3;
    }

    & footer{
      grid-column: 3/11;
      grid-row: 4;
    }
  }

  /* header grid template */

  header{
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    & h1{
      grid-column: 2;
      grid-row: 2;
    }

    & .menuToggler{
      grid-column: 3;
      grid-row: 2;
    }

    & .addButton{
      grid-column: 1;
      grid-row: 2;
    }
  }

  /* main grid template */

  main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1rem;
  }

  main .shoppingList{
    min-height: 20vh;
    border: 2px solid var(--main-color);
    background-color: black;
    opacity: 0.8;
  }

  .newList{
    display: grid;
    grid-template-columns: 1fr 15%;
    grid-template-rows: 1fr;

    & .entryValue{
      grid-column: 1/2;
      grid-row: 1;
    }

    & .addButton{
      grid-column: 2;
      grid-row: 1;
    }
  }

  /* section settings */

  section{
    height: 100%;

    & .newList{
      border: 2px solid rgb(150, 142, 142);
      height: 80%;
    }

    & .listname{
      width: 100%;
    }

    & .addButton{
      width: 100%;
      height: 100%;
      background-color: rgb(150, 142, 142);
      color: black;
    }
  }

  /* main item settings */

  .shoppingList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;

    & .listTitle{
      grid-column: 1/4;
      grid-row: 1;
      font-size: 2rem;
      color: white;
    }

    & .openListButton{
      grid-column: 1;
      grid-row: 2;

      width: 100%;
      height: 100%;
      background: none;
      border: none;
      color: var(--main-color);
    }

    /* & .entryValue {
      grid-column: 1/3;
      grid-row: 3;

      width: 100%;
      height: 100%;
      border: none;
      background-color: whitesmoke;
    }*/

    & .deleteButton{
      grid-column: 3;
      grid-row: 2;

      width: 100%;
      height: 100%;
      background: none;
      border: none;
      color: var(--main-color);
    }
  }

  /* footer grid template */

  footer{
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;

  }

  /* general css settings */

  header{
    height: 100%;
    width: 100%;
    justify-content: center;
  }

  header h1{
    color: var(--main-color);
    font-size: 3rem;
  }

  footer{
    display: none;
  }
}

@media(min-width: 800px){
  /* grid mobile template */

  body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 20% 10% 1fr 20%;

    & header{
      grid-column: 4/10;
      grid-row: 1;
    }

    & section{
      grid-column: 4/10;
      grid-row: 2;
    }

    & main{
      grid-column: 4/10;
      grid-row: 3;
    }

    & footer{
      grid-column: 4/10;
      grid-row: 4;
    }
  }

  /* header grid template */

  header{
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    & h1{
      grid-column: 2;
      grid-row: 2;
    }

    & .menuToggler{
      grid-column: 3;
      grid-row: 2;
      display: none;
    }

    & .addButton{
      grid-column: 1;
      grid-row: 2;
    }
  }

  /* main grid template */

  main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1rem;
  }

  main .shoppingList{
    min-height: 20vh;
    border: 2px solid var(--main-color);
    background-color: black;
  }

  .newList{
    display: grid;
    grid-template-columns: 1fr 15%;
    grid-template-rows: 1fr;

    & .entryValue{
      grid-column: 1/2;
      grid-row: 1;
    }

    & .addButton{
      grid-column: 2;
      grid-row: 1;
    }
  }

  /* section settings */

  section{
    height: 100%;

    & .newList{
      border: 2px solid rgb(150, 142, 142);
      height: 80%;
    }

    & .listname{
      width: 100%;
    }

    & .addButton{
      width: 100%;
      height: 100%;
      background-color: rgb(150, 142, 142);
      color: black;
    }
  }

  /* main item settings */

  .shoppingList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;

    & .listTitle{
      grid-column: 1/4;
      grid-row: 1;
      font-size: 2rem;
      color: white;
    }

    & .openListButton{
      grid-column: 1;
      grid-row: 2;

      width: 100%;
      height: 100%;
      background: none;
      border: none;
      color: var(--main-color);
    }

    /* & .entryValue {
      grid-column: 1/3;
      grid-row: 3;

      width: 100%;
      height: 100%;
      border: none;
      background-color: whitesmoke;
    }*/

    & .deleteButton{
      grid-column: 3;
      grid-row: 2;

      width: 100%;
      height: 100%;
      background: none;
      border: none;
      color: var(--main-color);
    }
  }

  /* footer grid template */

  footer{
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;

  }

  /* general css settings */

  header{
    height: 100%;
    width: 100%;
    justify-content: center;
  }

  header h1{
    color: var(--main-color);
    font-size: 3rem;
  }

  footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    & .navBtn{
      display: flex;
      grid-column: 1fr;
      grid-row: 1fr;

      background-color: rgb(150, 142, 142);
      color: black;
      height: 100%;
      padding: 2%;
    }
  }
}
