<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Passwort zurücksetzen</title>
    <meta charset="utf-8">
    <style>
      body {
        display: grid;
        place-items: center;
      }
      form {
        display: grid;
        gap: 10px;
        grid-template-columns: max-content;
      }
    </style>
  </head>
  <body>
    <h1>Passwort zurücksetzen</h1>
    <p>Hallo <strong>%NAME%</strong>,</p>
    <p>gib den Code <code style="padding-inline: 4px; letter-spacing: 3px">%CODE%</code> ein, um dein Passwort zurückzusetzen.</p>
  </body>
</html>
